.container{
    margin: 20px auto;
}

.card-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario{
    margin: 0 auto;
    padding: 15px;
    width: 70%;
}

.formulario label{
    font-size: 20px;
    font-weight: 400;
}

.formulario .btn{
    font-size: 20px;
    padding: 5px 60px;

}

img{
    
    padding-left: 25px;
    display: block;
    margin: auto;
}

.cuadro{
    padding: 10px;
}