<div class="container">
    <div class="card mb-3" style="max-width: 1100px;">
        <div class="row g-0">
            <div class="col-md-4 cuadro">
                <img src="https://w7.pngwing.com/pngs/105/693/png-transparent-computer-icons-android-contact-blue-text-rectangle.png"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Contactanos</h5>

                    <div class="formulario">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="exampleInputPassword1">
                        </div>
                       
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary d-block mx-auto">Enviar</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>